{% extends "layout.html" %}
{% block body %}
<div class="card my-3">
  <div class="card-body">
    <form method="POST" autocomplete="on" class="card-text">
      <p>
        You can search by ISBN number, book title, and/or book author. Just fill
        in at least one of the boxes below and let us take care of the rest...
      </p>
      <div class="form-group">
        <label for="isbn">ISBN</label>
        <input type="text" name="isbn" id="isbn" class="form-control" />
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" />
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author" id="author" class="form-control" />
      </div>
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</div>
{% endblock %}